In [32]:
import pandas as pd
import numpy as np
import math
import pickle

from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import StratifiedKFold

import platform
from os import listdir
from os.path import isfile, join
from glob import glob
from pathlib import Path
import sys
import os
import copy
import traceback
from pathlib import Path


import matplotlib.pyplot as plt

import SMOTE
import feature_selector
import DE
import CFS
import birch
import metrics.abcd

import metrices
import measures

import sys
import traceback
import warnings
warnings.filterwarnings("ignore")

In [101]:
data_source1 = '/Users/suvodeepmajumder/Documents/AI4SE/bellwether_comminity/src/data/1385/exp1/2'
if platform.system() == 'Darwin' or platform.system() == 'Linux':
    _dir = data_source1 + '/'
else:
    _dir = data_source1 + '\\'

clusters = [(join(_dir, f)) for f in listdir(_dir) if Path(join(_dir, f)).is_dir()]

In [134]:
count = 0
count_not = 0
count_yes = 0
precentage = 0
score = []
for cluster in clusters:
    df = pd.read_csv(cluster + '/1385_LR_bellwether_f1.csv')
    counts = []
    for row in range(df.shape[0]):
        j = df.iloc[row].values[1:]
        value = sum(i >= 0.6 for i in j)
        counts.append(value)
    df['>=0.6'] = counts
    precentage = max(counts)/df.shape[0]
    score.append([int(cluster.rsplit('/',1)[1]),round(df.shape[0]*0.25),max(counts),round(np.mean(counts),2)])
    count += max(counts)

In [135]:
score_df = pd.DataFrame(score, columns = ['id','expected','max_bell','avge'])

In [136]:
score_df = score_df.sort_values('id')

In [137]:
score_df.to_csv('data/1385/projects/bellwether.csv')

In [138]:
count

281

In [139]:
score_df

   id  expected  max_bell   avge
3   1        22        38  18.10
2  11         1         1   0.50
6  14        25        45  21.80
7  25         0         1   0.50
4  26         1         2   1.25
1  27         0         1   1.00
0  35        55       108  55.23
5  55        51        85  42.76